streamlit==1.32.0
numpy==1.24.4  # Use a newer version that is compatible
pandas==2.2.2
matplotlib==3.8.4
tensorflow==2.12.0  # Ensure compatibility with the newer numpy
opencv-python==4.8.0.74

